@model CIS174GameProject.Models.CreatePersonModel
<script src="~/Scripts/DMACC/profile.js" type="text/javascript"></script>
<h2>Create Profile</h2>
<input id="userID" value="userId" type="hidden" onload=searchPeopleCreate() />
<script>
    searchPeopleCreate();
</script>
<div id="Success" class="hidden">
    <p> You have succesfully created a profile. Please go back to your profile page to access it!</p>
    [
    @Html.ActionLink("Go to your profile", "Update")
    ]
</div>

<div id="CreateForm" class="hidden">
    <form name="personForm" onsubmit="createPerson()">
        <p>First Name: <input id="firstName" type="text" required></p>
        <p>Last Name: <input id="lastName" type="text" required></p>
        <p>Gender: (1 - Male, 2 - Female, 3 - Other) <input id="gender" type="range" name="gender" min="0" max="2" step="1"></p>
        <p>Email: <input id="email" type="email" required></p>
        <p>Phone Number: <input id="phoneNumber" type="text"></p>
        <input type="submit" value="Save">
    </form>
</div>
