<h2> Robot on the Run </h2>
<p>
The game we're creating is called 'Robot on the Run'. This is a game about a robot who awakens on a foreign planet. The robot is beaten up and you need to find parts to fix and improve our robot friend.
</p>

<p>
At first these improvements could be simple things, such as allowing him to run, to more complex things such as rocket boots. You can collect important things or even purely cosmetic things that change the
color of the robot. 
</p>

<p>
This game will be a 2D platformer where the player can explore a hand-crafted world and collect these items mentioned before. Each level will be different than the last, and will involve different strategies
to get through them. Each level will record the items you collect and keep track of other things that will be posted to a leaderboard.
</p>
